#root {
  display: flex;
  min-width: 750px;
  height: 100vh;
}

.messenger-app {
  margin: 2rem auto;
  padding: 25px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  
}

.top-panel {
  margin: 1rem 0;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}