.message {
  font-size: 1.25rem;
  margin: 17px;
  width: 80%;
  background-color: #f3f7fb;
  list-style: none;
    border-radius: 50px;
    padding: 0.5rem 0.8rem;
    padding-left: 1.5rem;
    border-top-left-radius: 0;
    position: relative;
    /* display: flex; */
}

.message_users {  
  margin-left: auto; 
  background-color: #bdd4ff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 0; 
}

.message button {
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 50px;
}
.message__info {
  position: absolute;
    top: -23px;
    left: 2px;
    font-size: 15px;
    color: grey;
}
.message__info_users {    
    right: 20px; 
    left: unset; 
}

.message__user-name {
  margin-right: 10px;
}
.message__date {

}
.message__text {
  
}

.message-label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.message.done .message-label {
  text-decoration: line-through;
}

.message.important .message-label {
  font-weight: bold;
  color: steelblue;
}

.message-list-item-label {
  margin-right: auto;
  
}
